.card {
    background-color: white;
    border-radius: 1em;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 0.75em;
    width: 250px;
    height: 300px;
}

.cardImage {
    width: 100%;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    overflow: hidden;
    aspect-ratio: 3/2;
    position: relative;
}

.cardTitleHolder {
    display: flex;
    flex-direction: column;
    padding: 0.5em;
    margin: 0.5em;
    margin-top: 0;
    gap: 0.5em;
}

.cardTitle {
    font-weight: 600;
    margin: 0;
}

.cardSubtitle {
    margin: 0;
    font-family: 'Jetbrains Mono';
    font-weight: 400;
    font-size: 0.75em;
}